body {
    text-align: center;
}
h2 {
    cursor:pointer;
}

.btn {
    height: 150px;
    width: 150px;
    border-radius: 20%;
    border: 10px solid black;
    margin: 0.5rem;
    cursor: pointer;
     /* Prevent text selection / callout on long-press on mobile */
    -webkit-tap-highlight-color: transparent;
    user-select: none;
    touch-action: manipulation;
}

.btn-container {
    display: flex;
    justify-content: center;
    
}

/* Make buttons a bit smaller on small screens */
@media (max-width: 400px) {
    .btn {
        height: 120px;
        width: 120px;
    }
}

.red {
    background-color: #d95980;
}

.green {
    background-color: #63aac0;
}

.purple {
    background-color: #819ff9;
}

.yellow {
    background-color: #f99b45;
}

.flash {
    background-color: white;
}

.userflash {
    background-color: green;
}
